<% if(locals.currentClient && locals.currentClient.username != null) { %>
<div class="buttons-container logged-in">
	<div>
		Welcome, <span><a href="/users/<%=currentClient.username%>"><%=currentClient.username%></a></span>
	</div>
	<form action="/logout?_method=DELETE" method="POST">
		<button type="submit" class="btn btn-outline-danger">Log Out</button>
	</form>
	<button class="btn btn-outline-info" data-toggle-theme-button>Toggle Theme</button>
</div>
<% } else { %>
<div class="buttons-container">
	<a href="/signup" class="btn btn-outline-primary">Sign Up</a>
	<a href="/login" class="btn btn-outline-secondary">Log In</a>
	<button class="btn btn-outline-info" data-toggle-theme-button>Toggle Theme</button>
</div>
<% } %>
