<div class="nav_bar">
	<a href="/">HOME</a>
	<nav class="navbar-links">
		<a href="/posts/new">New Post</a>
		<a href="/users">Users</a>
		<a href="/users">Friends</a>
		<a href="/">Settings</a>
	</nav>
</div>
