<div class="pagination-buttons-container">
	<% if(paginatedResults.previous) { %>
	<a href="/?page=<%= paginatedResults.previous.page %>" class="btn btn-primary">Previous Page</a>
	<% } %> <% if(paginatedResults.next) { %>
	<a href="/?page=<%= paginatedResults.next.page %>" class="btn btn-primary">Next Page</a>
	<% } %>
</div>
