<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link href="/stylesheets/no-theme.css" rel="stylesheet" type="text/css" data-theme-stylesheet />
		<link href="/stylesheets/main.css" rel="stylesheet" type="text/css" />
		<link href="/stylesheets/authpages.css" rel="stylesheet" type="text/css" />
		<link href="/stylesheets/header.css" rel="stylesheet" type="text/css" />
		<link href="/stylesheets/profile.css" rel="stylesheet" type="text/css" />
		<link href="/stylesheets/post.css" rel="stylesheet" type="text/css" />
		<link href="/stylesheets/users.css" rel="stylesheet" type="text/css" />
		<link rel="shortcut icon" href="#" />
		<script src="/scripts/themeToggle.js" defer></script>
		<script src="/scripts/homepage.js" defer></script>
		<title>Project Sharing Site</title>
	</head>
	<body>
		<%- include('../partials/_header.ejs')%>
		<div class="empty"></div>
		<div id="body-container"><%- body %></div>
		<div class="overlay" data-overlay></div>
		<%- include('../partials/_navbar-buttons.ejs') %>
	</body>
</html>
