<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<!-- <link href="/styles/bootstrap.css" rel="stylesheet" type="text/css" /> -->
		<link href="/stylesheets/main.css" rel="stylesheet" type="text/css" />
		<link href="/stylesheets/header.css" rel="stylesheet" type="text/css" />
		<link href="/stylesheets/profile.css" rel="stylesheet" type="text/css" />
		<link href="/stylesheets/authentication-buttons.css" rel="stylesheet" type="text/css" />
		<link href="/stylesheets/bootstrap.css" rel="stylesheet" type="text/css" />
		<link rel="shortcut icon" href="#" />
		<script src="/scripts/homepage.js" defer></script>
		<title>BLOGSITE</title>
	</head>
	<body>
		<%- include('../partials/_header.ejs')%>
		<div class="container"><%- body %></div>
		<%- include('../partials/_authentication-buttons.ejs') %>
	</body>
</html>
