<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<!-- Bootstrap CSS -->
		<link href="/stylesheets/bootstrap.css" rel="stylesheet" />
		<link href="/stylesheets/main.css" rel="stylesheet" type="text/css" />
		<link href="/stylesheets/404.css" rel="stylesheet" type="text/css" />
		<title>Page Not found</title>
	</head>
	<body>
		<div class="center-404">
			<h1 class="title-404">404</h1>
			<p style="font-size: 5rem">Page not found</p>
			<a href="/" class="btn btn-primary" style="width: 10rem">Return Home</a>
		</div>
	</body>
</html>
