.buttons-container {
	position: absolute;
	top: 1rem;
	right: 2rem;
}

.buttons-container.logged-in {
	display: grid;
	grid-template-columns: 1fr 1fr;
	align-items: center;
	gap: 10px;
}

.post-container {
	border: 1px solid grey;
}

.post-container:hover {
	border: 1px solid #0b5ed7;
}
