/* Users page */
.users-display {
	display: flex;
	flex-wrap: wrap;
	margin-left: 2rem;
}

.users-page-header {
	display: flex;
	align-items: center;
	margin-bottom: 1rem;
}

.search-users-form {
	opacity: 0;
	position: absolute;
	pointer-events: none;
	transform: translateY(-20px);
}

.caret-up {
	display: none;
}

.search-users-form.active {
	transition: all 0.5s ease;
	opacity: 1;
	transform: translateY(0px);
	position: relative;
	pointer-events: all;
}

.search-dropdown-btn {
	outline: none;
	border: none;
	cursor: pointer;
	background: none;
	margin-left: 0.5rem;
}

.search-dropdown-btn > svg {
	vertical-align: sub;
}

/* User block */
.user-container {
	border: 1px solid var(--main-border-color);
	margin-bottom: 1rem;
	margin-right: 1rem;
	display: flex;
	transition: 0.2s ease-in;
	max-width: min-content;
	box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.5);
}

.user-info,
.user-details {
	padding: 0.5rem;
	display: flex;
	flex-direction: column;
}

.user-link {
	transition: 0.2s ease-in;
}

.user-link:hover {
	color: var(--main-icon-color);
}

.user-info {
	justify-content: center;
	align-items: center;
	width: 6rem;
	overflow: hidden;
	margin-right: 0.5rem;
	background: var(--secundary-background-color);
}

.user-details {
	width: 10rem;
}

.user-pic {
	width: 2.5rem;
	height: 2.5rem;
}

.user-container:hover {
	border-color: var(--main-icon-color);
}
