<h2 class="text-center mt-3">Log In</h2>
<% if(messages.error) { %>
<div class="d-flex justify-content-center">
	<div class="alert alert-danger"><%= messages.error %></div>
</div>
<% } else if(message != null) {%>
<div class="d-flex justify-content-center">
	<div class="alert alert-success"><%= message %></div>
</div>
<% } %>
<div class="text-danger text-center"></div>
<div class="container d-flex justify-content-center">
	<form action="/login" method="POST" class="w-50">
		<div class="form-group">
			<label for="username">Username</label>
			<input required type="text" id="username" name="username" class="form-control" value="<%= user.username %>" />
		</div>
		<div class="form-group">
			<label for="password">Password</label>
			<input required type="password" id="password" name="password" class="form-control" />
		</div>
		<div class="container d-flex justify-content-center">
			<a href="/" class="btn btn-secondary mt-4">Cancel</a>
			<div style="width: 1rem"></div>
			<button class="btn-primary btn mt-4" type="submit">Log In</button>
		</div>
		<div class="container d-flex justify-content-center">
			<a href="/signup" class="d-inline-block">Don't have an account? Sign Up</a>
		</div>
	</form>
</div>
