<script src="/scripts/login.js" defer></script>
<% if(messages.error) { %>
<div class="d-flex justify-content-center">
	<div class="alert alert-danger">
		<svg xmlns="http://www.w3.org/2000/svg" class="bi bi-shield-fill-exclamation" viewBox="0 0 16 16">
			<path
				fill-rule="evenodd"
				d="M8 0c-.69 0-1.843.265-2.928.56-1.11.3-2.229.655-2.887.87a1.54 1.54 0 0 0-1.044 1.262c-.596 4.477.787 7.795 2.465 9.99a11.777 11.777 0 0 0 2.517 2.453c.386.273.744.482 1.048.625.28.132.581.24.829.24s.548-.108.829-.24a7.159 7.159 0 0 0 1.048-.625 11.775 11.775 0 0 0 2.517-2.453c1.678-2.195 3.061-5.513 2.465-9.99a1.541 1.541 0 0 0-1.044-1.263 62.467 62.467 0 0 0-2.887-.87C9.843.266 8.69 0 8 0zm-.55 8.502L7.1 4.995a.905.905 0 1 1 1.8 0l-.35 3.507a.552.552 0 0 1-1.1 0zM8.002 12a1 1 0 1 1 0-2 1 1 0 0 1 0 2z"
			/>
		</svg>
		<%= messages.error %>
	</div>
</div>
<% } else if(locals.message && message != null) {%>
<div class="d-flex justify-content-center">
	<div class="alert alert-success">
		<svg xmlns="http://www.w3.org/2000/svg" class="bi bi-shield-fill-check" viewBox="0 0 16 16">
			<path
				fill-rule="evenodd"
				d="M8 0c-.69 0-1.843.265-2.928.56-1.11.3-2.229.655-2.887.87a1.54 1.54 0 0 0-1.044 1.262c-.596 4.477.787 7.795 2.465 9.99a11.777 11.777 0 0 0 2.517 2.453c.386.273.744.482 1.048.625.28.132.581.24.829.24s.548-.108.829-.24a7.159 7.159 0 0 0 1.048-.625 11.775 11.775 0 0 0 2.517-2.453c1.678-2.195 3.061-5.513 2.465-9.99a1.541 1.541 0 0 0-1.044-1.263 62.467 62.467 0 0 0-2.887-.87C9.843.266 8.69 0 8 0zm2.146 5.146a.5.5 0 0 1 .708.708l-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 1 1 .708-.708L7.5 7.793l2.646-2.647z"
			/>
		</svg>
		<%= message %>
	</div>
</div>
<% } %>
<div class="authentication-container">
	<h2 class="authentication-title">Log In</h2>
	<form action="/login" method="POST" class="authentication-form">
		<div class="authentication-form-group">
			<label for="username" class="mb-1">Username</label>
			<div class="form-input">
				<svg
					xmlns="http://www.w3.org/2000/svg"
					class="bi bi-person form-input-icon"
					viewBox="0 0 16 16"
					data-login-input-icon
				>
					<path
						d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0zm4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10z"
					/>
				</svg>
				<input
					required
					type="text"
					id="username"
					name="username"
					class="auth-input"
					data-login-input
					value="<%= locals.currentClient ? currentClient.username : null%>"
				/>
			</div>
		</div>
		<div class="authentication-form-group">
			<label for="password" class="mb-1">Password</label>
			<div class="form-input">
				<svg
					xmlns="http://www.w3.org/2000/svg"
					class="bi bi-lock form-input-icon"
					viewBox="0 0 16 16"
					data-password-input-icon
				>
					<path
						d="M8 1a2 2 0 0 1 2 2v4H6V3a2 2 0 0 1 2-2zm3 6V3a3 3 0 0 0-6 0v4a2 2 0 0 0-2 2v5a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V9a2 2 0 0 0-2-2zM5 8h6a1 1 0 0 1 1 1v5a1 1 0 0 1-1 1H5a1 1 0 0 1-1-1V9a1 1 0 0 1 1-1z"
					/>
				</svg>
				<input required type="password" id="password" name="password" class="auth-input" data-password-input />
			</div>
		</div>
		<div class="d-flex justify-content-center mb-3">
			<a href="/" class="btn btn-secondary mr-2">Cancel</a>
			<button class="btn-primary btn" type="submit">Log In</button>
		</div>
	</form>
</div>
<div class="d-flex justify-content-center">
	<a href="/signup" class="link">Don't have an account? Sign Up</a>
</div>
