<h2 class="text-center mt-3">Log In</h2>
<% if(messages.error) { %>
<div class="d-flex justify-content-center">
	<div class="alert alert-danger">
		<svg
			xmlns="http://www.w3.org/2000/svg"
			width="16"
			height="16"
			fill="currentColor"
			class="bi bi-shield-fill-exclamation"
			viewBox="0 0 16 16"
		>
			<path
				fill-rule="evenodd"
				d="M8 0c-.69 0-1.843.265-2.928.56-1.11.3-2.229.655-2.887.87a1.54 1.54 0 0 0-1.044 1.262c-.596 4.477.787 7.795 2.465 9.99a11.777 11.777 0 0 0 2.517 2.453c.386.273.744.482 1.048.625.28.132.581.24.829.24s.548-.108.829-.24a7.159 7.159 0 0 0 1.048-.625 11.775 11.775 0 0 0 2.517-2.453c1.678-2.195 3.061-5.513 2.465-9.99a1.541 1.541 0 0 0-1.044-1.263 62.467 62.467 0 0 0-2.887-.87C9.843.266 8.69 0 8 0zm-.55 8.502L7.1 4.995a.905.905 0 1 1 1.8 0l-.35 3.507a.552.552 0 0 1-1.1 0zM8.002 12a1 1 0 1 1 0-2 1 1 0 0 1 0 2z"
			/>
		</svg>
		<%= messages.error %>
	</div>
</div>
<% } else if(locals.message && message != null) {%>
<div class="d-flex justify-content-center">
	<div class="alert alert-success">
		<svg
			xmlns="http://www.w3.org/2000/svg"
			width="16"
			height="16"
			fill="currentColor"
			class="bi bi-shield-fill-check"
			viewBox="0 0 16 16"
		>
			<path
				fill-rule="evenodd"
				d="M8 0c-.69 0-1.843.265-2.928.56-1.11.3-2.229.655-2.887.87a1.54 1.54 0 0 0-1.044 1.262c-.596 4.477.787 7.795 2.465 9.99a11.777 11.777 0 0 0 2.517 2.453c.386.273.744.482 1.048.625.28.132.581.24.829.24s.548-.108.829-.24a7.159 7.159 0 0 0 1.048-.625 11.775 11.775 0 0 0 2.517-2.453c1.678-2.195 3.061-5.513 2.465-9.99a1.541 1.541 0 0 0-1.044-1.263 62.467 62.467 0 0 0-2.887-.87C9.843.266 8.69 0 8 0zm2.146 5.146a.5.5 0 0 1 .708.708l-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 1 1 .708-.708L7.5 7.793l2.646-2.647z"
			/>
		</svg>
		<%= message %>
	</div>
</div>
<% } %>
<div class="text-danger text-center"></div>
<div class="container d-flex justify-content-center">
	<form action="/login" method="POST" class="w-50">
		<div class="form-group">
			<label for="username">Username</label>
			<input
				required
				type="text"
				id="username"
				name="username"
				class="form-control"
				value="<%= locals.currentClient ? currentClient.username : null%>"
			/>
		</div>
		<div class="form-group">
			<label for="password">Password</label>
			<input required type="password" id="password" name="password" class="form-control" />
		</div>
		<div class="container d-flex justify-content-center">
			<a href="/" class="btn btn-secondary mt-4">Cancel</a>
			<div style="width: 1rem"></div>
			<button class="btn-primary btn mt-4" type="submit">Log In</button>
		</div>
		<div class="container d-flex justify-content-center">
			<a href="/signup" class="d-inline-block">Don't have an account? Sign Up</a>
		</div>
	</form>
</div>
