<script src="/scripts/signup.js" defer></script>
<% if(locals.error && error != null) { %>
<div class="d-flex justify-content-center">
	<div class="alert alert-danger">
		<svg
			xmlns="http://www.w3.org/2000/svg"
			width="16"
			height="16"
			fill="currentColor"
			class="bi bi-exclamation-triangle"
			viewBox="0 0 16 16"
		>
			<path
				d="M7.938 2.016A.13.13 0 0 1 8.002 2a.13.13 0 0 1 .063.016.146.146 0 0 1 .054.057l6.857 11.667c.036.06.035.124.002.183a.163.163 0 0 1-.054.06.116.116 0 0 1-.066.017H1.146a.115.115 0 0 1-.066-.017.163.163 0 0 1-.054-.06.176.176 0 0 1 .002-.183L7.884 2.073a.147.147 0 0 1 .054-.057zm1.044-.45a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566z"
			/>
			<path
				d="M7.002 12a1 1 0 1 1 2 0 1 1 0 0 1-2 0zM7.1 5.995a.905.905 0 1 1 1.8 0l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995z"
			/>
		</svg>
		<%=error %>
	</div>
</div>
<% } %>
<div class="d-flex card container mb-2 justify-content-center w-50">
	<h2 class="text-center mt-3">Signup Today</h2>
	<form action="/users/signup" method="POST">
		<div class="form-group">
			<label for="username">Username</label>
			<input
				required
				type="text"
				id="username"
				name="username"
				class="form-control"
				value="<%= locals.currentClient ? currentClient.username : null%>"
			/>
		</div>
		<div class="form-group">
			<label for="password">Password</label>
			<input
				required
				type="password"
				id="password"
				name="password"
				class="form-control"
				aria-describedby="passwordHelpBlock"
				minlength="8"
				maxlength="20"
				data-signup-password-input
			/>
			<small id="passwordHelpBlock" class="form-text text-muted" data-password-help-block>
				Your password must be 8-20 characters long
			</small>
		</div>
		<div class="form-group">
			<label for="confirmPassword">Confirm Password</label>
			<input required type="password" id="confirmPassword" name="confirmPassword" class="form-control" />
		</div>
		<div class="container d-flex justify-content-center mb-3">
			<a href="/" class="btn btn-secondary mt-4">Cancel</a>
			<div style="width: 1rem"></div>
			<button class="btn-outline-primary btn mt-4" type="submit">Sign Up</button>
		</div>
	</form>
</div>

<div class="container d-flex justify-content-center">
	<a href="/login" class="d-inline-block">Already a member? Sign In</a>
</div>
